* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c33;
  font-family: "Fira Code", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: auto;
}

header {
    margin-top: 40px;
}

header h1 {
  color: #fff;
  font-size: 60px;
  font-family: "Fira Code" sans-serif;
  font-weight: 700;
  text-align: left;
}

main label {
  color: #fff;
  font-size: 12px;
  font-family: "Fira Code";
}

input {
  width: 130px;
  border: none;
  height: 36px;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.1);
  color: #d9d9d991;
  padding-left: 10px;
}

#button {
  width: 130px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #96eb95;
  background: #96eb95;
  color: #373737;
  font-size: 16px;
  font-family: "Fira Code", sans-serif;
  font-weight: 700;
}

.Value {
  margin-top: 40px;
  width: 900px;
  min-height: 583px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.06);
  text-align: center;
}

#listaMoedas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section h3 {
    padding-top: 10px;
    margin: 10px;
  color: #fff;
  font-size: 24px;
  font-family: "Fira Code";
  font-weight: 700;
}

section li {
  display: flex;
  align-items: center;
  list-style: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  min-width: 150px;
  padding: 10px;
  height: 30px;
  flex-shrink: 0;
  margin: 7px;
}

section li h4 {
  color: #fff;
  font-size: 16px;
  font-family: Fira Code;

}

section li p {
  color: #ffe713;
  font-size: 13px;
  margin-left: 10px;
}

.invisible {
  display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.425);
    height: 60px;
    bottom: 0;
}

h1 span {
  color: #95eba8;
}

.swal2-popup {
    background-color: #19191a;
    color: #fff;
}